@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html::-webkit-scrollbar {
  background: var(--background);
  width: 2px;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
  background-color: #2dd282;
  border-radius: 4px;
}

body {
  color: #f0f7f7;
  background: var(--background);
  font-family: Poppins, sans-serif;
}

details[open] summary .rounded {
  transform: rotate(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
